body {
    margin: 30px;
    font-size: 20px;
    color: #000814;
    background: #f6fff8;
    font-family: sans-serif;
}

a {
    text-decoration: dotted;
    color: #001d3d;
    font-family: inherit;
    transition: 0.1s ease-in-out;
    font-size: 25px;
}
a:hover{
    color: #000814;

}
